img {
  width: 100%;
  /* max-width: 190px; */
  height: 100%;
  max-height: 300px;
  max-width: 300px;
  object-fit: cover;
}
.shopping-cart {
  text-align: center;
  margin-top: 90px;
}
h1 {
  text-align: center;
}
.product {
  text-align: center;
  display: block;
  background-color: #5786b682;
  padding: 40px 50px;
  margin-top: 50px;
  margin-bottom: 50px;
  color: black;
  border-radius: 10px;
}
.heading {
  background-color: aliceblue;
  padding: 10px 0;
  border-radius: 20px;
  margin-top: 50px;
  position: relative;
}
.products-info {
  background-color: aliceblue;
  margin-top: 50px;
  border-radius: 20px;
  padding: 0 20px;
  margin-bottom: 50px;
}
button {
  background: black;
  color: white;
}
ul {
  list-style: none;
}
li {
  margin-bottom: 20px;
}
button.delete-button {
  float: right;
}
.cart-icon {
  /* display: flex; */
  /* justify-content: end; */
  /* align-items: center; */
  /* float: right; */
  position: absolute;
  right: 10px;
  top: 10px;
}
span.item-count {
  background: yellow;
  padding: 3px 4px;
  border-radius: 50%;
  font-size: 14px;
}