.cart-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }
  
  .cart-content {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
  }
  
  .close-button {
    background: black;
    border: none;
    cursor: pointer;
    font-size: 1.2rem;
    color: white;
  }
  li.cart-items {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}